<?xml version="1.0" encoding="utf-8"?>
<!--
     SPDX-FileCopyrightText: DerpFest AOSP
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.theme.font.anaheim"
    android:allowBackup="false"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="android"
        android:category="android.theme.customization.font"
        android:priority="600"/>

    <application android:label="@string/font_anaheim_overlay" android:hasCode="false">
        <meta-data
            android:name="android.theme.customization.REQUIRED_SYSTEM_FONTS"
            android:value="anaheim,anaheim-medium,anaheim-semi-bold,anaheim-bold,anaheim-extra-bold" />
    </application>
</manifest>
